[user]
	name = rtlsiho
	email = simon.holm@rt-labs.com
[pull]
   rebase = true
[alias]
	amend-all = commit -a --amend --no-edit
   gerritpull = "!f() { git fetch origin \"$1\" && git rebase --onto FETCH_HEAD origin/master; }; f"
	sl = log --oneline
   graph = log --oneline --branches=* --graph origin/master~..
   show-commit = show --name-stat --abbrev-commit
[core]
   excludesfile = ~/ignore
   editor = vim -f


