[user]
	name = Simon Holm
	email = simon.holm@rt-labs.com
[pull]
   rebase = true
[alias]
   amend-all = commit -a --amend --no-edit
   gerritpull = "!f() { git fetch origin \"$1\" && git rebase --onto FETCH_HEAD origin/master; }; f"
   sl = log --oneline
   graph = log --oneline --branches=* --graph origin/master~10..
   show-commit = show --stat --abbrev-commit
   staged-diff = diff --cached
   commit-diff = diff HEAD~..HEAD
   file-added = log --diff-filter=A --
   unstage = restore --staged
   vdiff = difftool --tool=vimdiff --no-prompt
   gvdiff = difftool --tool=gvimdiff --no-prompt
[core]
   excludesfile = ~/ignore
   editor = vim -f

[cola]
	spellcheck = false
	textwidth = 80
	fontdiff = Consolas,10,-1,5,50,0,0,0,0,0
	blameviewer = git gui blame
	theme = flat-dark-grey
[gui]
	editor = gvim
	historybrowser = gitk
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
[init]
	templatedir = ~/.git-templates
